Automation/Inventory-Asset-Management/EASI-MI-Template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters":
    {
        "EASM_Region":
        {
            "defaultValue": "eastus",
            "type": "string",
            "metadata":
            {
                "description": "Region where EASM is deployed"
            }
        },
        "workflows_EASI-MI-LA-AssetManagement_name":
        {
            "defaultValue": "EASI-MI-LA-AssetManagement",
            "type": "string"
        },
        "EASMWorkspaceName":
        {
            "defaultValue": "",
            "type": "string"
        },
        "userAssignedIdentities_externalid":
        {
            "defaultValue": "",
            "type": "string",
            "metadata":
            {
                "description": "ManagedIdentity Resource Id /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{managedIdentityName}"
            }
        },
        "RunFrequency":
        {
            "defaultValue": 24,
            "type": "int",
            "metadata":
            {
                "description": "Schedule in Hours"
            }
        },
        "api-version":
        {
            "defaultValue": "2024-03-01-preview",
            "type": "string"
        },
        "maxpagesize":
        {
            "defaultValue": "50",
            "type": "string"
        },
        "LabelName":
        {
            "defaultValue": "",
            "type": "string",
            "metadata":
            {
                "description": "Label Assets will be tagged with"
            }
        },
        "LabelColor":
        {
            "defaultValue": " ",
            "type": "string",
            "allowedValues":
            [
                " ",
                "red",
                "bronze",
                "yellow",
                "brown",
                "lime",
                "green",
                "teal",
                "blue",
                "purple",
                "pink",
                "silver",
                "grey"
            ],
            "metadata":
            {
                "description": "Color options: red, bronze, yellow, brown, lime, green, teal, blue, purple, pink, silver, grey"
            }
        },
        "LabelDisplayName":
        {
            "defaultValue": "",
            "type": "string",
            "metadata":
            {
                "description": "Label display text"
            }
        },
        "filter":
        {
            "defaultValue": "",
            "type": "string",
            "metadata":
            {
                "description": "Inventory Asset Query"
            }
        },
        "stateValue":
        {
            "defaultValue": " ",
            "type": "string",
            "allowedValues":
            [
                " ",
                "archived",
                "candidate",
                "associatedThirdparty",
                "dismissed",
                "candidateInvestigate",
                "confirmed",
                "associatedPartner"
            ],
            "metadata":
            {
                "description": "allowed values: archived[Archived], candidate[Candidate], associatedThirdparty[Dependency], dismissed[Dismissed], candidateInvestigate[Requires Investigation], confirmed[Approved], associatedPartner[Monitor Only]"
            }
        }
    },
    "variables":
    {},
    "resources":
    [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_EASI-MI-LA-AssetManagement_name')]",
            "location": "[parameters('EASM_Region')]",
            "identity":
            {
                "type": "UserAssigned",
                "userAssignedIdentities":
                {
                    "[parameters('userAssignedIdentities_externalid')]":
                    {}
                }
            },
            "properties":
            {
                "state": "Enabled",
                "definition":
                {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters":
                    {
                        "EASMWorkspaceName":
                        {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "LabelName":
                        {
                            "type": "string"
                        },
                        "LabelColor":
                        {
                            "defaultValue": "blue",
                            "type": "string"
                        },
                        "LabelDisplayName":
                        {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "EASM_Region":
                        {
                            "defaultValue": "parameters('EASM_Region')",
                            "type": "string"
                        },
                        "ResourceGroupName":
                        {
                            "defaultValue": "[resourceGroup().name]",
                            "type": "string"
                        },
                        "SubscriptionId":
                        {
                            "defaultValue": "[subscription().subscriptionId]",
                            "type": "string"
                        },
                        "TenantId":
                        {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "api-version":
                        {
                            "defaultValue": "2022-11-01-preview",
                            "type": "string"
                        },
                        "filter":
                        {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "maxpagesize":
                        {
                            "defaultValue": "50",
                            "type": "string"
                        },
                        "stateValue":
                        {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "RunFrequency":
                        {
                            "defaultValue": 24,
                            "type": "int"
                        },
                        "$connections":
                        {
                            "defaultValue":
                            {},
                            "type": "object"
                        }
                    },
                    "triggers":
                    {
                        "Recurrence":
                        {
                            "recurrence":
                            {
                                "frequency": "Hour",
                                "timeZone": "Central Standard Time",
                                "interval": "[parameters('RunFrequency')]"
                            },
                            "evaluatedRecurrence":
                            {
                                "frequency": "Hour",
                                "timeZone": "Central Standard Time",
                                "interval": "[parameters('RunFrequency')]"
                            },
                            "type": "Recurrence",
                            "runtimeConfiguration":
                            {
                                "concurrency":
                                {
                                    "runs": 1
                                }
                            }
                        }
                    },
                    "actions":
                    {
                        "Update_EASM_Asset":
                        {
                            "runAfter":
                            {
                                "Update_Condition":
                                [
                                    "Failed",
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs":
                            {
                                "uri": "https://@{parameters('EASM_Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets",
                                "method": "PATCH",
                                "headers":
                                {
                                    "Content-Type": "application/json",
                                    "User-Agent": "EASI-LogicApps-AssetManagement"
                                },
                                "queries":
                                {
                                    "api-version": "@{parameters('api-version')}",
                                    "filter": "@{parameters('filter')}"
                                },
                                "body": "@variables('updateBody')",
                                "authentication":
                                {
                                    "audience": "https://easm.defender.microsoft.com/",
                                    "identity": "[parameters('userAssignedIdentities_externalid')]",
                                    "type": "ManagedServiceIdentity"
                                },
                                "retryPolicy":
                                {
                                    "type": "fixed",
                                    "count": 10,
                                    "interval": "PT20S"
                                }
                            },
                            "description": "Update Alerted EASM Assets with a label to track history ",
                            "runtimeConfiguration":
                            {
                                "contentTransfer":
                                {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_JobId_Var":
                        {
                            "runAfter":
                            {
                                "Initialize_updateBody_Var":
                                [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs":
                            {
                                "variables":
                                [
                                    {
                                        "name": "JobId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_updateBody_Var":
                        {
                            "runAfter":
                            {},
                            "type": "InitializeVariable",
                            "inputs":
                            {
                                "variables":
                                [
                                    {
                                        "name": "updateBody",
                                        "type": "object",
                                        "value":
                                        {}
                                    }
                                ]
                            }
                        },
                        "Update_Condition":
                        {
                            "actions":
                            {
                                "Set_updateBody":
                                {
                                    "type": "SetVariable",
                                    "inputs":
                                    {
                                        "name": "updateBody",
                                        "value":
                                        {
                                            "labels":
                                            {
                                                "@{parameters('LabelName')}": true
                                            },
                                            "state": "@{parameters('stateValue')}"
                                        }
                                    }
                                }
                            },
                            "runAfter":
                            {
                                "Initialize_JobId_Var":
                                [
                                    "Succeeded"
                                ]
                            },
                            "else":
                            {
                                "actions":
                                {
                                    "update_label_or_state":
                                    {
                                        "actions":
                                        {
                                            "Set_updateBody_2":
                                            {
                                                "type": "SetVariable",
                                                "inputs":
                                                {
                                                    "name": "updateBody",
                                                    "value":
                                                    {
                                                        "labels":
                                                        {
                                                            "@{parameters('LabelName')}": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "else":
                                        {
                                            "actions":
                                            {
                                                "Set_updateBody_3":
                                                {
                                                    "type": "SetVariable",
                                                    "inputs":
                                                    {
                                                        "name": "updateBody",
                                                        "value":
                                                        {
                                                            "state": "@{parameters('stateValue')}"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "expression":
                                        {
                                            "and":
                                            [
                                                {
                                                    "greater":
                                                    [
                                                        "@length(parameters('LabelName'))",
                                                        1
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression":
                            {
                                "and":
                                [
                                    {
                                        "greater":
                                        [
                                            "@length(parameters('stateValue'))",
                                            1
                                        ]
                                    },
                                    {
                                        "greater":
                                        [
                                            "@length(parameters('LabelName'))",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition":
                        {
                            "actions":
                            {
                                "Create_Label":
                                {
                                    "type": "Http",
                                    "inputs":
                                    {
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.Easm/workspaces/@{parameters('EASMWorkspaceName')}/labels/@{parameters('LabelName')}?",
                                        "method": "PUT",
                                        "headers":
                                        {
                                            "Content-Type": "application/json",
                                            "User-Agent": "EASI-LogicApps-AssetManagement",
                                            "Accept": "application/json"
                                        },
                                        "queries":
                                        {
                                            "api-version": "2022-04-01-preview"
                                        },
                                        "body":
                                        {
                                            "properties":
                                            {
                                                "color": "[parameters('LabelColor')]",
                                                "displayName": "[parameters('LabelDisplayName')]"
                                            }
                                        },
                                        "authentication":
                                        {
                                            "type": "ManagedServiceIdentity",
                                            "identity": "[parameters('userAssignedIdentities_externalid')]",
                                            "audience": "https://management.core.windows.net/"
                                        }
                                    },
                                    "runtimeConfiguration":
                                    {
                                        "contentTransfer":
                                        {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Update_Assets":
                                {
                                    "runAfter":
                                    {
                                        "Create_Label":
                                        [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs":
                                    {
                                        "uri": "https://@{parameters('EASM_Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/assets",
                                        "method": "PATCH",
                                        "headers":
                                        {
                                            "Content-Type": "application/json",
                                            "User-Agent": "EASI-LogicApps-AssetManagement"
                                        },
                                        "queries":
                                        {
                                            "api-version": "@{parameters('api-version')}",
                                            "filter": "@{parameters('filter')}"
                                        },
                                        "body": "@variables('updateBody')",
                                        "authentication":
                                        {
                                            "type": "ManagedServiceIdentity",
                                            "identity": "[parameters('userAssignedIdentities_externalid')]",
                                            "audience": "https://easm.defender.microsoft.com/"
                                        }
                                    },
                                    "runtimeConfiguration":
                                    {
                                        "contentTransfer":
                                        {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Set_var_jobId":
                                {
                                    "runAfter":
                                    {
                                        "Update_Assets":
                                        [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs":
                                    {
                                        "name": "JobId",
                                        "value": "@body('Update_Assets')?['id']"
                                    }
                                }
                            },
                            "runAfter":
                            {
                                "Update_EASM_Asset":
                                [
                                    "Failed",
                                    "Succeeded"
                                ]
                            },
                            "else":
                            {
                                "actions":
                                {
                                    "Condition_4":
                                    {
                                        "actions":
                                        {
                                            "Set_var_jobId_2":
                                            {
                                                "type": "SetVariable",
                                                "inputs":
                                                {
                                                    "name": "JobId",
                                                    "value": "@body('Update_EASM_Asset')?['id']"
                                                }
                                            }
                                        },
                                        "else":
                                        {
                                            "actions":
                                            {
                                                "Terminate":
                                                {
                                                    "type": "Terminate",
                                                    "inputs":
                                                    {
                                                        "runStatus": "Failed"
                                                    }
                                                }
                                            }
                                        },
                                        "expression":
                                        {
                                            "and":
                                            [
                                                {
                                                    "equals":
                                                    [
                                                        "@outputs('Update_EASM_Asset')?['statusCode']",
                                                        200
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression":
                            {
                                "and":
                                [
                                    {
                                        "equals":
                                        [
                                            "@outputs('Update_EASM_Asset')?['statusCode']",
                                            400
                                        ]
                                    }
                                ]
                            },
                            "type": "If",
                            "description": "If label does not exist, this path creates it and then updates assets with newly created label"
                        },
                        "Until":
                        {
                            "actions":
                            {
                                "check_job_status":
                                {
                                    "type": "Http",
                                    "inputs":
                                    {
                                        "uri": "https://@{parameters('EASM_Region')}.easm.defender.microsoft.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/workspaces/@{parameters('EASMWorkspaceName')}/tasks/@{variables('JobId')}",
                                        "method": "GET",
                                        "headers":
                                        {
                                            "Content-Type": "application/json",
                                            "User-Agent": "EASI-LogicApps-AssetManagement"
                                        },
                                        "queries":
                                        {
                                            "api-version": "@{parameters('api-version')}"
                                        },
                                        "authentication":
                                        {
                                            "type": "ManagedServiceIdentity",
                                            "identity": "[parameters('userAssignedIdentities_externalid')]",
                                            "audience": "https://easm.defender.microsoft.com/"
                                        }
                                    },
                                    "runtimeConfiguration":
                                    {
                                        "contentTransfer":
                                        {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Delay":
                                {
                                    "runAfter":
                                    {
                                        "check_job_status":
                                        [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Wait",
                                    "inputs":
                                    {
                                        "interval":
                                        {
                                            "count": 10,
                                            "unit": "Minute"
                                        }
                                    }
                                }
                            },
                            "runAfter":
                            {
                                "Condition":
                                [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(equals(body('check_job_status')?['state'], 'complete'),'complete')",
                            "limit":
                            {
                                "count": 8,
                                "timeout": "PT2H"
                            },
                            "type": "Until"
                        }
                    }
                },
                "parameters":
                {
                    "$connections":
                    {
                        "value":
                        {}
                    },
                    "Region":
                    {
                        "value": "[parameters('EASM_Region')]"
                    },
                    "EASMWorkspaceName":
                    {
                        "value": "[parameters('EASMWorkspaceName')]"
                    },
                    "RunFrequency":
                    {
                        "value": "[parameters('RunFrequency')]"
                    },
                    "api-version":
                    {
                        "value": "[parameters('api-version')]"
                    },
                    "LabelName":
                    {
                        "value": "[parameters('LabelName')]"
                    },
                    "LabelColor":
                    {
                        "value": "[parameters('LabelColor')]"
                    },
                    "LabelDisplayName":
                    {
                        "value": "[parameters('LabelDisplayName')]"
                    },
                    "filter":
                    {
                        "value": "[parameters('filter')]"
                    },
                    "maxpagesize":
                    {
                        "value": "[parameters('maxpagesize')]"
                    },
                    "stateValue":
                    {
                        "value": "[parameters('stateValue')]"
                    }
                }
            }
        }
    ]
}
